/*------------------------------------------------------------------------------
NAV
------------------------------------------------------------------------------*/
#nav-container .container-fluid{
    position:relative;
    padding:0;
    background:#222;
    z-index:999999999;
}

#nav{
    z-index:999999999;
    position:absolute;
    right:0px;
    width:390px;
    height:500px;
    background:#222;
    margin:0 auto;
    margin-top:-30px;
    padding:10px;
    border-radius:10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    display:none;
}
#nav .masonry{
    background:transparent;
}
#nav .brick{
    display:inline-block;
}
/*1170 3x4*/
@media only screen
and (max-width: 1170px) {
    #nav{
        right:20px;
    }
}
/*1024 3x4 */
@media only screen
and (max-width: 1024px) {
    #nav{
        right:0;
        margin-top:-25px;
    }
}
/*875 6x2
@media only screen
and (max-width: 875px) {
    #nav{
        width:875px;
        height:252px;
        margin-top:0;
        padding:5px 0% 5px 0px;
        position:relative;
        top:0;right:0;
        border-radius:0;
    }
}
/*873 - 4x3*/
@media only screen
and (max-width: 768px) {
    #nav{
        width:521px;
        height:375px;
        margin-top:0;
        position:relative;
        top:0;right:0;
        border-radius:0;
    }
    #nav .arrow{
        display:none;
    }
}
/*543 - 3x4*/
@media only screen
and (max-width: 550px) {
    #nav{
        width:390px;
        height:500px;
    }
}
/*406 - 2x6*/
@media only screen
and (max-width: 390px) {
    #nav{
        width:259px;
        height:750px;
    }
}
/*270 - 1x12*/
@media only screen
and (max-width: 270px) {
    #nav{
        width:128px;
        height:1475px;
    }
}
/*875 - 6x2*/
@media only screen
and (max-height: 599px)
and (min-width:825px) {
    #nav{
        width:800px;
        height:250px;
    }
}
/*875 - 4x3*/
@media only screen
and (min-height: 600px)
and (max-height:725px)
and (min-width:768px){
    #nav{
        width:521px;
        height:380px;
    }
}
@media only screen
and (max-height: 599px)
and (min-width:768px)
and (max-width:824px){
    #nav{
        width:521px;
        height:375px;
        margin-top:0;
        position:relative;
        top:0;right:0;
        border-radius:0;
    }
    #nav .arrow{
        display:none;
    }
}

#nav .arrow{
    position:absolute;
    right:120px; top:-18px;
    font-size:50px;
}

/*------------------------------------------------------------------------------
NAV BUTTONS
------------------------------------------------------------------------------*/
#nav .btn-nav{
    width: 100px;
    height:100px;
    padding:8px;
    margin:5px;
    text-align:center;
    cursor: pointer;
    color:#f1f1f1;
}/*
@media only screen
and (max-width: 875px) {
    #nav .btn-nav{
        padding-left:15px;
        padding-right:15px;
    }
}
@media only screen
and (max-width: 560px) {
    #nav .btn-nav{
        margin:3px;
    }
}*/
#nav .btn-nav:hover{
    background-color:#08c;
    border-radius:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
#nav .btn-nav.active{
    background-color:#08c;
    border-radius:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
#nav .icon{
    width:50px;
    height:50px;
    margin-top:10px;
    font-size:2.500em;
    line-height:50px;
}
#nav .title-icon{
    font-size:1em;
}
#nav a:hover{
    text-decoration:none;
}
