/*------------------------------------------------------------------------------
NAV
------------------------------------------------------------------------------*/
.nav-container.container {
  position: relative;
  padding: 0;
  background: #222;
  z-index: 999999999;
}

@media only screen and (max-width: 1170px) {
  .nav-container.container {
    width:100%;
  }
}

#nav {
  z-index: 999999999;
  position: absolute;
  right: 0px;
  width: 550px;
  height: 524px;
  background: #222;
  margin: 0 auto;
  margin-top: -30px;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;

  .arrow {
    position: absolute;
    right: 125px;
    top: -18px;
    font-size: 50px;
  }

  & .masonry {
    background: transparent;
  }

  & .brick {
    display: inline-block;
  }
}

/*1170*/
@media only screen and (max-width: 1170px) {
  #nav {
    right: 20px;
  }
}

/*1024*/
@media only screen and (max-width: 1024px) {
  #nav {
    right: 0;
    margin-top: -25px;
  }
}

/*824*/
@media only screen and (max-width: 824px) {
  #nav {
    margin-top: 0;
    position: relative;
    top: 0;
    right: 0;
    border-radius: 0;

    & .arrow {
      display: none;
    }
  }
}

/*543 - 4x4*/
@media only screen and (max-width: 550px) {
  #nav {
    width: 398px;
    height: 654px;
  }
}

/*------------------------------------------------------------------------------
NAV BUTTONS
------------------------------------------------------------------------------*/
#nav .btn-nav {
  width: 116px;
  height: 116px;
  padding: 8px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  color: #f1f1f1;
}

#nav .btn-nav:hover {
  background-color: #08c;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

#nav .btn-nav.active {
  background-color: #08c;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

#nav .btn-nav .fa {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  font-size: 2.500em;
  line-height: 50px;
}

#nav .title-icon {
  font-size: 1em;
}

#nav a:hover {
  text-decoration: none;
}
