/*------------------------------------------------------------------------------
NAV
------------------------------------------------------------------------------*/
.nav-container.container {
  position: relative;
  padding: 0;
  background: #222;
  z-index: 999999999;
}

@media only screen and (max-width: 1170px) {
  .nav-container.container {
    width:100%;
  }
}

#nav {
  z-index: 999999999;
  position: absolute;
  right: 0px;
  width: 398px;
  height: 525px;
  background: #222;
  margin: 0 auto;
  margin-top: -30px;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;

  .arrow {
    position: absolute;
    right: 125px;
    top: -18px;
    font-size: 50px;
  }

  & .masonry {
    background: transparent;
  }

  & .brick {
    display: inline-block;
  }
}

/*1170 3x4*/
@media only screen and (max-width: 1170px) {
  #nav {
    right: 20px;
  }
}

/*1024 3x4 */
@media only screen and (max-width: 1024px) {
  #nav {
    right: 0;
    margin-top: -25px;
  }
}

/*875 - 6x2*/
@media only screen and (max-height: 599px) and (min-width: 825px) {
  #nav {
    width: 800px;
    height: 275px;
  }
}

/*875 - 4x3*/
@media only screen and (min-height: 600px) and (max-height: 725px) and (min-width: 768px) {
  #nav {
    width: 550px;
    height: 400px;
  }
}

/*768 3x4 */
@media only screen and (max-width: 768px) {
  #nav {
    width: 524px;
    height: 400px;
    margin-top: 0;
    position: relative;
    top: 0;
    right: 0;
    border-radius: 0;

    & .arrow {
      display: none;
    }
  }
}

/*768 4x3 */
@media only screen and (max-height: 599px) and (min-width: 768px) and (max-width: 824px) {
  #nav {
    width: 524px;
    height: 375px;
    margin-top: 0;
    position: relative;
    top: 0;
    right: 0;
    border-radius: 0;

    & .arrow {
      display: none;
    }
  }
}

/*543 - 3x4*/
@media only screen and (max-width: 550px) {
  #nav {
    width: 398px;
    height: 500px;
  }
}

/*406 - 2x6*/
@media only screen and (max-width: 390px) {
  #nav {
    width: 272px;
    height: 750px;
  }
}

/*270 - 1x12*/
@media only screen and (max-width: 270px) {
  #nav {
    width: 128px;
    height: 1475px;
  }
}

/*------------------------------------------------------------------------------
NAV BUTTONS
------------------------------------------------------------------------------*/
#nav .btn-nav {
  width: 116px;
  height: 116px;
  padding: 8px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  color: #f1f1f1;
}

#nav .btn-nav:hover {
  background-color: #08c;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

#nav .btn-nav.active {
  background-color: #08c;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

#nav .btn-nav .fa {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  font-size: 2.500em;
  line-height: 50px;
}

#nav .title-icon {
  font-size: 1em;
}

#nav a:hover {
  text-decoration: none;
}
