/*------------------------------------------------------------------------------
SUBMENU
------------------------------------------------------------------------------*/
#subnav{
    margin-bottom:25px;
}
.well {
    background:#f1f1f1;
    border:1px solid #e3e3e3;
    border-radius:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.well .nav-list >li >a{
    padding:10px;
    text-shadow:none;
}
.well .nav-list >li >a:hover{
    background-color:#222;
    color:#f1f1f1
}
.well.affix{
    width: auto;
    top: 20px;
}
@media only screen
and (max-width: 768px) {
    .well.affix{
        position: static;
        width: auto;
        top: 0;
    }
}