/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.composer
/.env.testing
/.stamp.json
/docker-compose.yml
/docker-sync.yml
/public/ai-cache
/public/head.html
/public/media
/selenium-debug.log
/tests/_output/*
.DS_Store
*.swp
core
