/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.env.testing

.DS_Store
.composer
core
docker-compose.yml
docker-sync.yml
google*.html
local-deploy
public/ai-cache
public/media
vendor

tests/_output/*
