/.env
/.env.testing
/.composer
/.idea
/.stamp.json
/.vagrant
/docker-compose.yml
/docker-sync.yml
/node_modules
/npm-debug.log
/public/ai-cache
/public/head.html
/public/hot
/public/media
/public/storage
/selenium-debug.log
/tests/_output/*
/tests/nightwatch/reports
/tests/nightwatch/screenshots
/vendor
/yarn-error.log

/Homestead.json
/Homestead.yaml

.DS_Store
core
