#language-switch {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10000;
    color: #222;
    background-color: #f2f2f2;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top-right-radius: 0.5em;
    text-decoration: none;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #ddd;
    }

    a {
        display: block;
        padding: 0.25em 0.5em;
        color: inherit;
        text-decoration: none;
        @media only screen and (min-width : 576px) {
            padding: 0.5em 1em;
        }
    }
}

/* Courtesy of https://www.flag-sprites.com/ */

.flag {
    width: 16px;
    height: 11px;
    display: inline-block;
}

.flag.flag-th {
    background-image: url(../../../../public/img/ui/flag-th.png);
}

.flag.flag-us {
    background-image: url(../../../../public/img/ui/flag-us.png);
}
