#language-switch {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99999999;
    color: #222;
    font-family: arial;
    text-decoration: none;
}

#language-switch a {
    color: inherit;
    text-decoration: none;
}

/* Courtesy of https://www.flag-sprites.com/ */

.flag {
    width: 16px;
    height: 11px;
    display: inline-block;
}

.flag.flag-th {
    background-image: url(/media/images/ui/flag-th.png);
}

.flag.flag-us {
    background-image: url(/media/images/ui/flag-us.png);
}
