#header {
    border-top: 5px solid #222;
    background: #fff;

    .container {
        padding: 20px 0;

        @media only screen and (max-width: 1024px) {
            padding-bottom: 10px;
        }
    }
}

#logo, #btn-container {
    display: inline-block;
    vertical-align: top;
}

#logo {
    float: left;
    width: 46vw;
    max-width: 600px;

    @media only screen and (max-width: 550px) {
        width: 100%;
        text-align: center;
    }

    img {
        width: 100%;

        @media only screen and (max-width: 550px) {
            width: 90%;
        }
    }
}

#btn-container {
    float: right;
    width: 15vw;
    height: 7vw;
    margin-top: 1vw;
    cursor: pointer;

    @media only screen and (max-width: 550px) {
        display: none;
    }
}

#btn-menu, #btn-search {
    color: #222;
    

    &:hover {
        color: #08c;
    }
}

#btn-mobile-container {
    width: 100%;
    background: #222;
    display: none;

    @media only screen and (max-width: 550px) {
        display: block;
    }

    .btn-group {
        width: 100%;
        margin: 0;
    }

    button {
        width: 50%;
        border-radius: 0;
    }
}

#btn-menu-en, #btn-search-en, #btn-menu-th, #btn-search-th {
    height: 100%;
    max-height:88px;
    min-height:70px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#btn-menu-en {
    width: 45%;
    margin-right: 5%;
    background-image: url(./menu-en.png);
}

#btn-search-en {
    width: 45%;
    background-image: url(./search-en.png);
}

#btn-menu-th {
    width: 38%;
    margin-right: 10%;
    margin-top: 2%;
    background-image: url(./menu-th.png);
}

#btn-search-th {
    width: 38%;
    margin-right: 5%;
    margin-top: 2%;
    background-image: url(./search-th.png);
}
