/*------------------------------------------------------------------------------
BOOTSTRAP
------------------------------------------------------------------------------*/
.container,.container-fluid{
    margin:0 auto;
    max-width:1170px;
}
@media only screen
and (max-width: 768px) {
    .container-fluid {
        padding: 0px 10px 0px 10px;
    }
}

#breadcrumb-container{
    width:100%;
    background:#f1f1f1;
    border-bottom:1px solid #e3e3e3;
    padding-top:5px;
    padding-bottom:5px;
}
.breadcrumb{
    background-color:#f1f1f1;
    padding: 8px 0px;
    margin-bottom:0;
}
.affix{
    /*top:20px;*/
}
.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
    background-color:#f1f1f1;
}
@media (max-width: 979px){
    .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
        padding: 0px;
    }
}
@media (max-width: 767px){
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media (max-width: 480px){
    .media .pull-left {
        float:left;
    }
}
@media (max-width: 480px){
    .media .pull-right {
        float: right;
    }
}
.form-actions {
    background-color:#f1f1f1;
}
.well .nav-list >li >a:hover {
    background-color:#0088cc;
}
.well .nav-list >li.active >a {
    background-color:#222;
}
.input-append{
    margin-bottom:0px;
}
.popover{
}
.popover-title{
    text-align:center;
}
.popover-content .btn{
    width:108px;
}
.alert.alert-error{
    margin-top: 5px;
    margin-bottom:0px;
}
.alert.alert-error.alert-field{
    width: 335px;
}
.alert.alert-error.alert-email{
    width:174px;
}
/*------------------------------------------------------------------------------
FULL CALENDAR
------------------------------------------------------------------------------*/
.fc-event-inner.fc-event-skin{
    background-color:#08c;
}
#calendar .fc-event-skin{
    border-color:#e3e3e3;
    border-radius:3px;
}
@media only screen
and (max-width: 700px) {
    #calendar{
        visibility:hidden;
        height:0;
        overflow:hidden;
    }
}
#calendar .fc-header-title h3{
    margin-top:-3px;
}
@media only screen
and (max-width: 400px) {
    #calendar .fc-header-title h3{
        font-size:14px;
    }
}
#event-list{
    display:none;
}
@media only screen
and (max-width: 700px) {
    #event-list{
        display:block;
        margin-top:10px;
    }
}
/*------------------------------------------------------------------------------
MASONRY
------------------------------------------------------------------------------*/
#gallery{
    max-width:1146px;
    margin:0 auto;
    visibility:hidden;
}
.masonry,
.masonry .masonry-brick,.brick {
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.masonry,.brick {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.masonry .masonry-brick,.brick {
    -webkit-transition-property: left, right, top;
    -moz-transition-property: left, right, top;
    -ms-transition-property: left, right, top;
    -o-transition-property: left, right, top;
    transition-property: left, right, top;
}
/*------------------------------------------------------------------------------
DATATABLES
------------------------------------------------------------------------------*/
.table.dataTable th, .table.dataTable td {
    border:0;
}
.table.dataTable th, .table.dataTable td {
    padding: 0px;
}
/*------------------------------------------------------------------------------
GOOGLE CUSTOM SEARCH
------------------------------------------------------------------------------*/
/*
#search{
    display:none;
}
@media only screen
and (max-width: 768px) {
    #search{
        padding:0px
    }
}
#search .container-fluid{
    padding:0px 0px 20px 0px;
}
@media only screen
and (max-width: 550px) {
    #search .container-fluid{
        padding:10px 0px 10px 0px;
        background:#222;
    }
}


#search .gsc-search-box{
    margin:0px;
    height:40px;
}
#search .gsc-input{
    box-shadow:none;
}
#gsc-i-id1.gsc-input{
    text-align:center;
    color:#08c;
}
#search .gsc-input-box{
    border-radius:100px;
    padding:0px;
    height:30px;
    border:2px solid #08c;
}
#search #gsc-iw-id1.gsc-input-box.gsc-input-box-focus{
    outline:none;
    box-shadow:0 0 3px #08c;
}
#search .gcsc-branding{
    display:none;
}
#search .gssb_a, .gssb_a td{
    text-align:center;
}
#search #gs_cb0{
    font-size: 30px;
    margin-bottom: 2px;
    margin-right: 5px;
    margin-top: 5px;
}
#search #gs_id0.gstl_0{
    height:100%;
}
#search #gs_tti0{
    padding:0px 20px 0px 20px;
    text-align:center;
    line-height:2;
}

#search .cse .gsc-control-wrapper-cse, #search  .gsc-control-wrapper-cse {
    padding:0px 1% 0px 1%;
    width:98%;
}

#search .gsc-search-button.gsc-search-button-v2{
    border: 5px solid #08c;
    margin-top: -1px;
    border-radius:2px;
}
#search .gsc-cursor-box{
    text-align:center;
}
#search .gsc-cursor-page{
    margin-right:20px;
    font-size:20px;
}
@media only screen
and (max-width: 430px) {
    #search .gsc-cursor-page{
        margin-right:10px;
    }
}
#search .gsc-cursor-current-page{
    color:darkorange;
    font-weight:bold;
}
#search .gsc-cursor-page:hover{
    color:#005580;
}
#search .gsc-control-cse.gsc-control-cse-en{
    padding:0px;
}
@media only screen
and (max-width: 550px) {
    #search .gsc-control-cse.gsc-control-cse-en{
        background:#222;
        border-color:#222;
    }
}
#search .gsc-control-cse{
    padding-left:15px;
}
@media only screen
and (min-width: 980px) {
    #search .gsc-result{
        padding:20px 25px 20px 25px;
    }
}
#search .gsc-result-info{
    display:none;
}
#search .gsc-wrapper{
    background:#fff;
}
@media only screen
and (min-width: 980px) {
    #search .gsc-wrapper{
        border-radius:8px;
    }
}
#search .gsc-resultsbox-visible{
    width: 99%;
    margin: 0 auto;
}
#search form.gsc-search-box,#search table.gsc-search-box{
    margin-bottom:0px;
}
*/