/*------------------------------------------------------------------------------
GALLERY
------------------------------------------------------------------------------*/


.gallery .caption p:hover{
    text-decoration:none;
}

.gallery .date{
    font-size:0.875em;
    color:#222;
}

/*------------------------------------------------------------------------------
ALBUM
------------------------------------------------------------------------------*/
.album{
    width:100%;
    max-width:174px;
    margin-right:5px;
    margin-bottom:5px;
}
.album .image{
    width:100%;
    max-width:174px;
}
.album .image img{
    width:100%;
}

