.talk {

    background-color: #fff;
    transition: background-color 1s ease;
    position: relative;

    .leader {
        @media only screen and (min-width : 768px) {
            display: flex;
            flex-flow: row;
            align-items: center;
        }
    }

    .subleader {
        display: flex;
        flex-flow: row;
        flex: 1;
        align-items: center;
    }

    .meta {
        @media only screen and (min-width : 768px) {
            flex: 1;
        }
    }

    .image {
        align-self: start;
        width: 75px;
        height: 75px;
        flex-shrink: 0;
        margin-right: 0.5em;
        img {
            width: 100%;
            height: 100%;
            box-shadow: 0px 1px 2px 1px #ccc;
            background-color: #888;
        }
        @media only screen and (min-width : 576px) {
            align-self: auto;
            width: 100px;
            height: 100px;
            margin-right: 1em;
        }
    }

    .title {
        font-size: 1.2em;
        margin: 0;
    }

    .buttons {
        margin: 0.5em 0;
        clear: left;
        .btn {
            font-size: 0.9em;
            color: #222;
            @media only screen and (min-width : 768px) {
                font-size: 0.8em;
            }
            @media only screen and (min-width : 992px) {
                font-size: 0.9em;
            }
        }
        i {
            margin-right: 0.25em;
        }
        @media only screen and (min-width : 768px) {
            margin: 0 0 0 0.5em;
        }
    }

    .playlists, .info, .subjects {
        font-size: 0.9em;
        line-height: 1.1em;
        margin: 0.5em 0 0;
    }

    .title, .playlists, .author, .subjects {
        a {
            color: #222;
        }
    }

    .playlists {
        @media only screen and (max-width : 319px) {
            clear: left;
        }
    }

    .language {
        font-size: 1.1em;
        margin-left: 0.25em;
    }

    .subjects {
        .heading {
            font-weight: bold;
        }
    }

    .description {
        margin-top: 0.75em;
    }

    .show-full {
        cursor: pointer;
        position: relative;
        text-align: center;
        width: 100%;
        margin: 0.15em 0 0em;
        > .arrow {
            border: solid #ccc;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 5px;
            transform: rotate(45deg);
            transition: all 0.5s ease;
        }
    }

    &.talk-abbrev {
        .description {
            display: none;
        }
    }

    &:hover.talk-abbrev {
        background-color: #f3f3f3;
        .show-full > .arrow {
            border-color: #888;
            transform: rotate(45deg) scale(1.5);
        }
    }

    &.talk-full {
        .show-full {
            display: none;
        }
    }
}
