.talk-list {
    min-height: 10em;

    .spinner {
        opacity: 0;
        z-index: -1;
        position: absolute;
    }

    .talks {
        opacity: 1;
    }

    .talks,
    .spinner {
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
    }

    &.loading {
        .spinner {
            opacity: 1;
            z-index: 1;
        }

        .talks {
            opacity: 0.3;
        }
    }

    > nav {
        margin-top: 2em;
    }

}

.talks {
    .talk {
        border-top: 1px solid #ddd;
        padding: 1em;
    }
    .talk:first-child {
        border-top: none;
    }
}
