/*------------------------------------------------------------------------------
ALBUM
------------------------------------------------------------------------------*/
  @media screen and (max-width: 800px) {
    .album-title {
      font-size: 11px !important;
    }
  }


.album-cover {
  display: inline-block;
  position: relative;
  margin: 2px;

  & .album-image > img {
    padding: 0 !important;
  }


  & .album-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, .6);
    color: white;
    padding: 15px;
    font-size: 18px;
  }
}

.album-list {
  & .albums {
    position: relative;
    top: 0;
    opacity: 1;
    clear: both;
  }

  & .spinner {
    position: absolute;
    top: 25px;
    opacity: 0;
    clear: both;
  }

  & .albums-footer {
    padding-top: 25px;
    clear: both;
  }

  &.loading {
    & .albums {
      opacity: 0.2;
    }

    & .spinner {
      opacity: 1;
    }
  }

  & .gallery .caption p:hover {
    text-decoration: none;
  }

  & .gallery .date {
    font-size: 0.875em;
    color: #222;
  }
}