.contact {
    margin-top: 2em;
    margin-bottom: 2em;
}

    .contact-text {
        margin-bottom: 3em;
    }

    .contact-separator {
        margin-bottom: 3em;
    }

.contact .control-label {
    padding-top: 5px;
}

.contact .user-message {
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 20px;
}
