// .search-results {
//     z-index: 1000;
//     max-height: 80vh;
// }

#search {

    margin-bottom: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #f3f3f3;

    .search-box-container, .search-results-container {
        @include make-container();
        @include make-container-max-widths();
    }

    .search-box, .powered-by, .search-results {
        @include make-row();
        justify-content: center;
    }

    .ais-SearchBox, .ais-PoweredBy, .ais-StateResults {
        @include make-col-ready();
        @include media-breakpoint-up(lg) {
            @include make-col(10);
        }
        @include media-breakpoint-up(xl) {
            @include make-col(8);
        }
    }

    .ais-SearchBox input {
        box-sizing: border-box;
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
    }

    .ais-PoweredBy {
        text-align: right;
    }

    .ais-SearchBox-submit {
        display: none;
    }

    .ais-SearchBox-reset {
        display: none;
    }

    .ais-Hits {
        .path {
            margin-top: 0.5rem;
            float: right;
            max-width: 30%;
            font-size: 0.8rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        h2 {
            font-size: 1.4rem;
        }
        h3 {
            font-size: 1.2rem;
        }
    }
}
