.tile-list.card-group {

    .card {
        text-align: center;
        border: 0;
    }

    img.card-img-top {
        width: 8em;
        height: 8em;
    }

    .card-block {
        padding: 0;
    }

    .card-text {
        margin-top: 0.5em;
        font-size: 0.9em;
        line-height: 1.2em;
        a {
            display: block;
        }
    }
}
