.category{
    width:200px;
    height:200px;
    border:1px solid #eee;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left:50px;
    margin-bottom:50px;
    cursor:pointer;
}