#banner {
    position: relative;
    width: 100%;
    height: 11em;
    overflow: hidden;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;

    /* Tablets */
    @media only screen and (max-width : 768px) {
        height: 9em;
    }

    /* Phones */
    @media only screen and (max-width: 550px) {
        display: none;
    }

    img {
        background-color: #888;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
