/*------------------------------------------------------------------------------
CARD
------------------------------------------------------------------------------*/
.card {
  overflow: hidden;
  display: inline-flex;
  cursor: pointer;
  vertical-align: top;
  -moz-box-shadow: 0px 1px 4px 1px #e3e3e3;
  -webkit-box-shadow: 0px 1px 4px 1px #e3e3e3;
  box-shadow: 0px 1px 4px 1px #e3e3e3;
  float: left;

  & .card-img-top {
    width: 100%;
    object-fit: cover;
    height: 180px;
  }

  & .card-img-top-fluid {
    width: 100%;
  }

  & .card-title {
    font-size: 18px;
  }

  &.card-list-item {
    width: 182px !important;
    height: 300px;
    margin: 20px;

    & .card-title {
      font-size: 16px;
      text-align: center;
    }
  }

  &.card-mobile {
    width:100%;
    margin-bottom: 25px;
    overflow: visible;

    & .card-img-mobile {
      width: 100%;
    }

    & .card-title {
      text-align: left;
      margin-bottom: 6px;
    }
  }
}
